<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info" strict="true" name="AttributionLoggingConfig" packages="org.apache.logging.log4j.test">

    <appenders>
        <File name="Attribution" fileName="attribution.log" immediateFlush="true" append="true" bufferedIO="false">
            <PatternLayout>
                <pattern>[%d{dd MMM yyyy HH:mm:ss}{GMT+0} %p] %m%n</pattern>
            </PatternLayout>
        </File>
    </appenders>

    <loggers>
        <logger name="com.thinknear.attribution" level="debug">
            <appender-ref ref="Attribution"/>
        </logger>
        <logger name="org.springframework" level="debug">
            <appender-ref ref="Attribution"/>
        </logger>
        <root level="debug">
      		<appender-ref ref="Attribution"/>
    	</root>
    </loggers>

</configuration>
